<footer class="footer">
    <div class="contenu-footer">
      <img src="assets/logo.png" alt="" width="20%" height="10%">
      <div class="bloc footer-services">
        <ul class="liste-services" style="margin-left: 50px;">
          <h5 style="margin-right: 110px;">Services</h5><br>
          <li style="font-size: 15px;"><a href="#">Stratégie digitale</a></li>
          <li style="font-size: 15px;"><a href="#">Gestion de communauté</a></li>
          <li style="font-size: 15px;"><a href="#">Création de sites web</a></li>
          <li style="font-size: 15px;"><a href="#">Publication sur réseaux sociaux</a></li>
          <li style="font-size: 15px;"><a href="#">Analyse web</a></li>
        </ul>
      </div>
  
      <div class="bloc footer-services">
        <ul class="liste-services" style="margin-left: 50px;">
          <h5>Contact</h5><br>
          <p><i class="fa fa-phone"></i> {{ phoneNumber }}</p>
          <p><i class="fa-sharp fa-solid fa-envelope"></i>{{ email }}</p>
        </ul>
      </div>
  
      <div class="bloc footer-services">
        <ul class="liste-services" style="margin-left: 50px;">
          <h5>Réseaux sociaux
            
          </h5><br>
          <ul class="social-links">
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </ul>
      </div>
    </div>
  
    <div class="p"><br><p style="margin-left: 485px; margin-bottom: 0px;">&copy;{{ currentYear }} greenix - Tous les droits sont réservés</p></div>
  </footer>
  
