

<title> GREENIX </title>
	
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/1f2fdfed-755e-4fbb-befd-4a848c273157/webchat/config.js" defer></script>
<header>
  <nav class="navbar" style=" margin-top: 0px;" id="nav">
  
  <div class="menu-bar">
    <div class="icon" id="icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="menu-items" id="menuItems">
          
    <img src="assets/logo.png" alt="" width="7%"height="15%" style="margin-top: 0px;" >
        <li class="active"><a href="#nav"> <i class="fa fa-home"></i>Acceuil</a></li>
        <li ><a href=""><i class="fa fa-user"></i>A propos</a>
        <div class="sub-menu-l">
            <ul>
                
                <li><a href="#g">Mission</a></li>
       
                <li><a href="#vis">Vision</a></li>

                  <li class="hover-me">      <a href="">A propos</a> <i class="fa fa-angle-right"></i>
        <div class="sub-menu-2">
            <ul>
              <li><a href="#about">A propos greenix</a></li>
                <li><a href="#dec">Découvrir greenix</a></li>
                <li><a href="#pou">Pourquoi greenix </a></li>
            
            </ul>
        </div>
        
        </li>
            </ul>
        </div>
        </li>
        <li   ><a href="#ser"><i class="fa fa-clone"></i>Services</a>
            <div class="sub-menu-l">
                <ul>
                    <li><a href="">Stratégie digitale</a></li>
                  
                            <li><a href="">Création des sites web</a></li>
                            <li><a href="">Gestion de communauté</a></li>
                    
                    <li><a href="">Publicité sur réseaux sociaux</a></li>
                    <li><a href="">Analys du web</a></li>
                </ul>
            </div></li>
       
       
        <li  ><a href=""><i class="fa fa-phone"></i>Contact</a></li><p style="display: flex; align-items: center;" class="po"><img src="assets/tel.png" alt="" style="margin-right: 10px;"><pre>+216 55759343 </pre>
       <img src="assets/em.png" alt="" style="margin-right: 10px;"><pre>contact.greenix@gmail.com</pre></p>
    </ul></div>
    


</nav>





  <main class="ji" >
    <section ><br><br><br><br><br><br><br>
      <h1>we mean
       <span class="change_content"> </span> <span style="margin-top: -10px;">  </span> </h1><br><br><br>
       <p >Nous visons à être le leader sur le marché et une référence en marketing digital <br>
         en Accompagnant tout ceux qui souhaitent se démarquer dans le monde digital,<br> promouvoir leur image de marque et rentabiliser leurs projets
        </p>
        <a class="button" href="#">En savoir plus</a>
    </section>
  </main></header>

  
      <section id="about">
        <div class="container">
          <div class="content">
            <h1 style="font-size: 46px; margin-left:120px;" class="p11">A propos greenix</h1>
            <p class="p1" style=" margin-left:90px;">Nous accompagnons nos clients dans la mise <br>
            en place et le suivi de leur stratégie marketing digitale afin d'ateindre leurs objectifs et maximiser leurs visibilités sur le web gràce à notre large gamme de services proposées </p>
          </div>
          <div class="animation">

            <img src="assets/logo.png" alt="" width="50%" height="25%" style="float: left;margin-left:55px;margin-bottom:70px;">
         </div>
        </div>
       
      </section>
      <br><br><br>
      <div class="split-container " id="dec">  
        <div class="right-half" style="width: 70%;">
          <section id="j"  >
         <br><br><br><br>
       
            <h3 style="font-size: 26px; justify-content: center;margin-left: 160px; ">Découvrir Greenix </h3><br>
            <p style="margin-left: 50px;font-size:17px;">   Grâce à l'utilisation créative de la conception graphique, des technologies numériques et de la stratégie en ligne, <br> nous résolvons les problèmes et faisons en sorte que nos clients puissent devancer leurs concurrents. En prenant le temps de bien comprendre la vision et les attentes de nos clients, nous sommes en mesure de produire des résultats qui ont un véritable impact. <br> Découvrez ci-dessous nos services.
          </p> </section></div>
        <div class="left-half"><br><br>
      <div style="float: left;"><img src="assets/pc.jpg" alt="" style="margin-left: 30px;width: 100%;height: 100%;"></div></div>
     </div>
     
<br><br>





<app-services></app-services>
  



<br><br> 

<section id="special-section">
  <div class="background"></div>
  <div class="container3"  >
    <div class="node1"></div>
    <div class="content1" onclick="showAnimation('service3')">
      <h1>Si vous avez des questions </h1>
      <br>
      
<a  class="one" href="#mo"><span id="h">contacter nous</span></a>
    </div>
  </div>
</section>



<h2 class="values-title">Nos Valeurs</h2>
<div class="values-container">

<div class="value"  >

  <div class="icon">
      <img src="assets/l.png" alt="Écoute">
  </div>
  <h3>Écoute</h3>
  <p>Nous accordons une grande importance à écouter les besoins et les préoccupations de nos clients.</p>
</div>
<div class="value">
  <div class="icon">
      <img src="assets/co.png" alt="Conseil">
  </div>
  <h3>Conseil</h3>
  <p>Nos experts sont là pour fournir des conseils avisés et personnalisés à nos clients.</p>
</div>
<div class="value">
  <div class="icon">
      <img src="assets/la.png" alt="Créativité">
  </div>
  <h3>Créativité</h3>
  <p>Nous encourageons et valorisons la créativité dans toutes nos solutions et approches.</p>
</div>
<div class="value">
  <div class="icon">
      <img src="assets/sa.png" alt="Satisfaction Client">
  </div>
  <h3>Satisfaction Client</h3>
  <p>La satisfaction de nos clients est notre priorité, et nous nous efforçons de dépasser leurs attentes.</p>
</div>
</div>


<br><br>  <div class="split-container">  
    <div class="left-half"><br><br>
  <div style="float: left;"><img src="assets/web2.jpg" alt="" style="margin-left: 30px;width: 100%;height: 100%;"></div></div>
  <div class="right-half" style="width: 70%;">
    <section   id="pou">
   
      <h3 style="font-size: 26px;text-decoration: underline;">Pourquoi Greenix ?</h3><br>
      Vous cherchez des solutions technologiques pour optimiser la gestion et l'organisation de vos activités ? <br> Chez Greenix, nous vous proposons des solutions informatiques sur mesure de la plus haute qualité.
  et nous contribuons à accroître la réussite commerciale en tirant parti de la technologie<br><br>
     dévelppement web
      <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
      <div class="progress-bar progress-bar-striped" style="width: 90%"></div>
      </div><br>
    développement mobile
    <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
      <div class="progress-bar progress-bar-striped bg-success" style="width: 92%"></div>
    </div><br>
    design
    <div class="progress" role="progressbar" aria-label="Info striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
      <div class="progress-bar progress-bar-striped bg-info" style="width: 95%"></div>
    </div><br>marketing
    <div class="progress" role="progressbar" aria-label="Warning striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
      <div class="progress-bar progress-bar-striped bg-warning" style="width: 97%"></div>
    </div>
  </section></div></div>
  <br><br>

  <div class="split-container " id="dec">  
    <div class="right-half" style="width: 70%;">
      <section id="j"  >

  
    <h4 class="vision-title">🚀 Notre Vision 🌟</h4>
    <hr class="vision-hr">
    <div class="vision-text">Chez <strong>Greenix</strong>, notre vision transcende les frontières du possible.</div>
    <div class="vision-text">Nous n'avons pas peur d'innover, de repousser les limites et d'explorer l'inconnu. <br> Notre but est de créer des campagnes qui éblouissent, des stratégies qui inspirent et des résultats qui parlent d'eux-mêmes.</div>
    <br><br><br><div class="vision-animation">🌐</div>
  </section></div>
  <div class="left-half1">
<div style="float: left;"><img src="assets/h.jpg" alt="" style="margin-left: 30px;width: 100%;height: 100%;"></div></div>
</div>
  
  <br><br>

    

  <section id="g">
    <h1 style="margin-top: 50px; font-size: 20px;margin-left: 200px;position: absolute;">Mission</h1>
    <hr >
    <div class="services-container">
      <div class="service wow animate__fadeIn" data-wow-delay="0s" onclick="showAnimation('service1') ">
        <img src="assets/p.jpg" alt="Service 1">
        <div class="text-overlay">
         
          <p>Accompagner tout ceux qui souhaitent se démarquer dans le monde digital
          </p>
          <button >  En savoir plus</button>
        </div>
      </div>
      <div class="service wow animate__fadeIn" data-wow-delay="200ms" onclick="showAnimation('service2')">
        <img src="assets/o.jpg" alt="Service 2">
        <div class="text-overlay">
       
          <p>Promouvoir  les images de marque de nos clients </p>
          <button>En savoir plus</button>
        </div>
      </div>
      <div class="service wow animate__fadeIn" data-wow-delay="400ms" onclick="showAnimation('service3')">
        <img src="assets/u.jpg" alt="Service 3">
        <div class="text-overlay">
         
          <p>  Rentabiliser les projets de nos clients

          </p>
          <button>En savoir plus</button>
        </div>
      </div>
    </div>
    
 
  
  </section>

  
  







    
    

         