<h1 style="text-align: center;" id="ser">NOS SERVICES</h1>
<hr style="height: 10px;width: 40%;margin-left: 470px;font-weight: 500;color: #000;" class="c">
 <div class="offers-container" id="#k">
    <div class="offer">
      <div class="content">
      <img src="assets/st.png" alt="Offre 1">
    
      <h3>Stratégie digitale</h3>
      <p>Boostez votre présence digitale et votre ROI avec l'implémentation de stratégies de communication innovantes et sur-mesure. Notre équipe en marketing digital vous accompagne pour vous orienter vers une stratégie omnicanale et financièrement pertinente.</p>
    </div>
    <img class="hover-image" src="assets/1.png" alt="Image au survol"></div>
    <div class="offer">
      <div class="content">
      <img src="assets/3.png" alt="Offre 2">
      <h3>Gestion de communauté</h3>
      <p>Notre agence marketing met à votre disposition des Community Managers experts et à votre service. Sachant gérer les réseaux sociaux, ils travaillent, optimisent et mettent en place une stratégie digitale engageante et créative.</p>
    </div>
    <img class="hover-image" src="assets/deux.png" alt="Image au survol"></div>
    
    <div class="offer">
      <div class="content">
      <img src="assets/4.png" alt="Offre 3">
      <h3>Création des sites web</h3>
      <p>Créez un site esthétique et performant pour présenter votre activité, ou un site e-commerce optimisé pour la conversion du trafic pour vendre vos produits en ligne grâce à pure clic, notre agence marketing ! Nous vous aidons à concevoir votre site.</p>
    </div>    <img class="hover-image" src="assets/trois.png" alt="Image au survol">
  </div>
    <div class="offer">
      <div class="content"><br>
      <img src="assets/5.png" alt="Offre 4"> 
      <h3>Publicité sur réseaux sociaux</h3>
      <p>Créez des campagnes Social média Ads (Sponsoring) mieux ciblées pour générer plus de vente en ligne. Ciblez des audiences potentiellement intéressées par vos produits et services en travaillant vos placements publicitaires sur les réseaux sociaux, et améliorez votre image de marque.</p>
    </div>    <img class="hover-image" src="assets/quatre.png" alt="Image au survol"></div>
    
    <div class="offer">
      <div class="content"><br>
      <img src="assets/2.png" alt="Offre 5">
      <h3>Veille stratégique</h3>
      <p>Fournir des informations et des analyses précieuses sur les tendances émergentes, les comportements des consommateurs et effectue une surveillance continue des marchés, des concurrents et des technologies. Avec notre service de veille stratégique, nous aidons nos clients à identifier de nouvelles opportunités, à adapter leurs stratégies et à maximiser leur impact sur le marché.</p>
    </div><img class="hover-image" src="assets/cinq.png" alt="Image au survol"></div>
    
    <div class="offer">
      <div class="content">
      <img src="assets/8.png" alt="Offre 6">
      <h3>Analyse du web</h3>
      <p>L'analyse de l’audience de votre site web permet de faire ressortir des opportunités d’amélioration et vous donne les clés pour prendre des décisions stratégiques pour la réussite de votre activité en ligne. Notre agence vous aide à tirer avantage des informations collectées sur vos supports digitaux.</p>
    </div><img class="hover-image" src="assets/six.png" alt="Image au survol"></div>
</div>